In [2]:
"""Module 4 Programming Assignment - Modules and Databases"""

"""11.1 Zoo"""

import zoo
zoo.hours()

import zoo as menagerie
menagerie.hours()

'open 9-5 daily'
'open 9-5 daily'

In [3]:
"""11.2"""
from pprint import pprint


def hours():
    pprint('open 9-5 daily')

In [ ]:
"""16.1-1.10"""
import csv
import sqlite3
from sqlalchemy import create_engine, MetaData, Table, select
import redis

# 16.1 - Create books.csv
with open('books.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['author', 'book'])
    writer.writerow(['J R R Tolkien', 'The Hobbit'])
    writer.writerow(['Lynne Truss', 'Eats, Shoots & Leaves'])

# 16.2 - Read books.csv with DictReader python
print("16.2 - Reading books.csv:")
with open('books.csv', newline='') as f:
    books = csv.DictReader(f)
    for book in books:
        print(book)

# 16.3 - Create books2.csv
with open('books2.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['title', 'author', 'year'])
    writer.writerow(['The Weirdstone of Brisingamen', 'Alan Garner', 1960])
    writer.writerow(['Perdido Street Station', 'China Mi√©ville', 2000])
    writer.writerow(['Thud!', 'Terry Pratchett', 2005])
    writer.writerow(['The Spellman Files', 'Lisa Lutz', 2007])
    writer.writerow(['Small Gods', 'Terry Pratchett', 1992])

# 16.4 - Create SQLite database and book table
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS book (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')
conn.commit()

# 16.5 - Insert data from books2.csv into book table
with open('books2.csv', newline='') as f:
    books = csv.DictReader(f)
    for book in books:
        cursor.execute("INSERT INTO book VALUES (?, ?, ?)",
                       (book['title'], book['author'], int(book['year'])))
conn.commit()

# 16.6 - Print titles in alphabetical order
print("\n16.6 - Titles in alphabetical order:")
cursor.execute("SELECT title FROM book ORDER BY title")
for row in cursor.fetchall():
    print(row[0])

# 16.7 - Print all columns ordered by year
print("\n16.7 - All columns ordered by year:")
cursor.execute("SELECT title, author, year FROM book ORDER BY year")
for row in cursor.fetchall():
    print(row)

conn.close()

# 16.8 - Use SQLAlchemy to select titles in alphabetical order
print("\n16.8 - SQLAlchemy titles in alphabetical order:")
engine = create_engine('sqlite:///books.db')
metadata = MetaData()
book = Table('book', metadata, autoload_with=engine)
stmt = select(book.c.title).order_by(book.c.title)

with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(row.title)

# 16.9 - Create Redis hash
print("\n16.9 - Redis hash 'test':")
r = redis.Redis()
r.hset('test', mapping={'count': 1, 'name': 'Fester Bestertester'})
print(r.hgetall('test'))

# 16.10 - Increment Redis field
print("\n16.10 - Redis increment count:")
r.hincrby('test', 'count', 1)
print(r.hget('test', 'count'))